*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: auto;
}


#cabecalho {
    grid-area: "cabecalho";
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: lightgray;
    padding: 1rem;
    align-items:center;

}

.cabecalho__menu___link {
    color: lightslategray;
}
.cabecalho__menu___link:hover {
    color: maroon;
    border-top: 1px solid maroon;
}
.cabecalho__menu___link.ativo {
    color: maroon;
    border-top: 1px solid maroon;
}

.main {
    grid-area: "conteudo";
}

.bancos {
    width: 50%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
        
}
.contato {
    height: 100px;
    padding: 15px 0 0 0;
    font-size: 1.5rem;
    background-color: rgb(167, 169, 170);
    
}
.rodape {
    grid-area: rodape;
    font-size: 0.6rem;
    display: block;
    text-align: center;
    background-color:lightgray; 
    margin-bottom: 5px;  
    
}