*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {   
    height: 100%; 
    min-width: 320px;  
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 70px 1fr auto;
}

/* INICIO CABEÇALHO */
#cabecalho {
    grid-area: cabecalho;
    display: flex; 
    position: relative;
    width: 100%;
    padding: 10px 5%;
    height: 70px;

    background-color: lightgray;
    align-items:center;
}

.cabecalho__menu{
    margin-left: auto;
}
.cabecalho__menu___link {
    color: lightslategray;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    
}
.cabecalho__menu___link:hover {
    color: #ba181b;
    border-top: 1px solid #ba181b;
}
.cabecalho__menu___link.ativo {
    color: #ba181b;
    border-top: 1px solid #ba181b;
}
#btn-check,#btn-menu{
    visibility: hidden;
    
} 

.conteudo {
    grid-area: conteudo;
    display: flex;
    flex-direction: column;
}

.quemSomos{ 
    display: flex;
    align-items: center;
}

.quemSomos__foto {
    background-image: url(../img/blog-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40em;


}
.quemSomos__txt {
    font-size: 1.5em;
    text-align: justify;
    padding: 0 2rem;
    
    
}


/* INICIO RODAPÉ */
.rodape {
    grid-area: rodape;
    position: relative;
    background-color:lightgray; 
    font-size: 0.6rem;
    text-align: center;
    padding-bottom: 3px;
}
.contato {  
    margin: 5px auto;
    font-size: 0.8rem;
    background-color: lightgray;  
}
/* FIM RODAPÉ */

@media screen and (max-width: 800px) {

    #cabecalho {
        justify-content: flex-start;
    }
    .cabecalho__menu{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        left: 0;
        background-color: lightgray;
        z-index: 1;
        top:70px;
        visibility: hidden;
        width: 100%;
        line-height: 2rem;
        padding: 5px;
    }


    #btn-menu {
        position: absolute;
        visibility: visible;
        font-size: 2rem;
        margin-right: 10px;
        right: 0;
    }
    #btn-menu:hover{
        color: #ba181b;
        cursor: pointer;
    }
    #btn-check:checked ~ .cabecalho__menu{
        visibility: visible;
        right: 0;
    } 

    .galeria {
       height: 300px;
    }

    .foto, .foto__bg{
        background-position: center;
    }

    .bancos{
        width: 100%;
    }
    .bancos__lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    .links a{
        line-height: 2.5rem;
    }
    
    .quemSomos {
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    
}

